
@font-face {
  font-family: DejaVuSans;
  src: url("fonts/DejaVuSans.ttf");
}

@font-face {
  font-family: DejaVuExtraLight;
  src: url("fonts/DejaVuSans-ExtraLight.ttf");
}
body {
	margin: 0;
	background-image: url("images/gplaypattern.png");
	font-family: DejaVuSans;
}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}





ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}
a {
	text-decoration: none;
	outline: none;

}

/*div {
	display: inline-block;
}*/
#banner{
	background-color: #6E6E6E;
	color: white;
	border: 1px;
	text-align: left;
	padding: 1%;
	margin: 1%;
	width:96%;
	height: 10%;
	margin-top: 4%;
	
}
#round-img{
	border-radius: 50%;
}
#input{
	border: 1px;
	padding: 1%;
	margin: 1%;
	width:96%;
	height: 5%;

}
input[type=submit]{
	font-weight: bold;
	size: 24px;
	color: green;
	font-size: large;
}
